@import "mixins";

$font-main: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-title: "Fjalla One", sans-serif;
// Colors
$black: #222222;
$white: #FAFAFA;
$purple: rgb(244, 0, 139);

// Typography
$color-text-light: $white;
$color-text-dark: $black;
$color-text-highlight: $purple;
